

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
        <style>
         nav a{
            margin: 80px;
            padding: 10px 50px;
            background-color: #2ecc71;
        }
        .navbartop{
            background-color: rgb(99, 109, 106);
            margin-bottom: 80px;
            width: 100%;
            line-height: 20vh;
        }

    </style>
</head>
<body style="text-align: center; color:coral; background-color:aquamarine;
    width:100%; height:100vh; margin:0; padding:0 ">
    <div>     
        <div class="navbartop">
        <nav>
        <a href="register"> Register </a>
       <a href="login"> Login </a>
    </nav>
    </div>
    <div>
    <div class="photo">
        <h2>{{photo}}</h2>
    </div>
    </div>
    <div>
    <h1>  {{firstname}} {{lastname}}</h1>
    <span><h3>{{email}}</h3></span>
    <span><h3>{{DoB}}</h3></span>
    </div>
    </div>
</body>
</html>